*{
    font-family: "Raleway";
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.banner{
    background-image:
        linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),
        url('/source/assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo{
    background-color: rgba(0, 0, 0, .2);
    padding: 16px;
    border-radius: 50%;
    width: 268px;
    height: 268px;
    margin: auto;
    margin-bottom: 16px;
}

.banner-content .logo img{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-family: "Raleway Black";
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text; /* Recorta o plano de fundo para o formato do texto */
    -webkit-text-fill-color: transparent; /* Torna a cor de preenchimento do texto transparente. */
    margin-bottom: 16px;
}

.banner p{
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
    margin-bottom: 24px;
    width: 600px;
}

.banner button{
    border: solid 2px;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    width: 326px;
    height: 57px;
    padding: 16px, 32px;
    gap: 31px;
    font-family: "Raleway Black";
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    text-transform: uppercase;
    color: #33A8DB;
    letter-spacing: 4px;
    cursor: pointer;
}

#course-content{
    text-align: center;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-content h2{
    font-family: "Raleway Black";
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text; /* Recorta o plano de fundo para o formato do texto */
    -webkit-text-fill-color: transparent; /* Torna a cor de preenchimento do texto transparente. */
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 4px;
    margin-bottom: 24px;
}

#course-content p{
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    margin-bottom: 24px;
    width: 800px;
}

.modules-list{
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.modules-list span{
    color: #33A8DB;
}

.module{
    padding: 16px;
    gap: 17px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    width: 530px;
    border-radius: 57px;
    margin-bottom: 24px;
    font-size: 16px;
}

#transform-world{
    background-image: url('/source/assets/images/woman-code.png');
    width: 100%;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p{
    font-family: "Raleway Black";
    text-transform: lowercase;
    font-size: 40px;
    line-height: 46.96px;
    text-align: left;
    color: white;
    text-shadow: 3px 2px #33A8DB;
    max-width: 250px;
}

#professional-challenges{
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#professional-challenges h2{
    font-family: "Raleway Black";
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text; /* Recorta o plano de fundo para o formato do texto */
    -webkit-text-fill-color: transparent; /* Torna a cor de preenchimento do texto transparente. */
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 4px;
}

#professional-challenges img{
    margin-top: 32px;
    width: 659px;
    height: 429px;
}

#professional-challenges p{
    margin-top: 40px;
    size: 16px;
    text-align: center;
    line-height: 18.78px;
    width: 792px;
    height: 76px;
}

footer{
    margin-top: 91px;
    border-top: 1px solid #33A8DB80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

.dio-logo{
    margin: 56px 0 10px;
}

footer p{
    margin-bottom: 38px;
    width: 310px;
}

footer p a{
    color: #33A8DB;
    text-decoration: none;
}